<head th:fragment="commonHead(title)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${title}">Title</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.0.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker3.min.css}" />
    
    <script th:src="@{/jQuery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
 
</head>